<ion-header>

  <ion-navbar>
    <ion-title>{{quoteGroup.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup.quotes; let index = index;">
    <ion-card-header>
      #{{index + 1}}
    </ion-card-header>
    <ion-card-content>
      <p>
        {{quote.text}}
      </p>
      <p class="author" padding-top>
        {{quote.person}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button
          *ngIf="isFavourite(quote); else favorite"
          ion-button
          clear
          small
          color="danger"
          (click)="removeFromFavorite(quote)"
        >
          Unfavorite
        </button>

        <ng-template #favorite>
          <button
          ion-button
          clear
          small
          (click)="onAddToFavorite(quote)"
          >
            Favorite
          </button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
